services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: tcp-server
    ports:
      - "12345:12345"   # optional, useful for manual testing
    networks:
      - tcpnet
    environment:
      DRIVE_STORAGE_PATH: /usr/src/projectapp/storage_data
      THREAD_POOL_SIZE: 4 #set to 4 just for example
    command: ["./projectapp", "12345"]

  
  ex3-web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: ex3-web
    ports:
      - "5000:5000"
    depends_on:
      - server
    networks:
      - tcpnet
    environment:
      EX2_HOST: server
      EX2_PORT: 12345
    
  react-app:
    build:
      context: .
      dockerfile: Dockerfile.reactclient
    container_name: react-frontend
    ports:
      - "8080:3000"
    stdin_open: true
    tty: true
    volumes:
      - ./src/react-client:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - WDS_SOCKET_PORT=8080
    networks:
      - tcpnet

networks:
  tcpnet:
    driver: bridge

